$ ls
Pipfile		Pipfile.lock	Procfile	web.py

[requires]
python_version = "2.7"

$ heroku create --buildpack heroku/python

$ git push heroku master
…
-----> Python app detected
-----> Installing python-3.6.4
-----> Installing pip
-----> Installing requirements with Pipenv 11.7.1…
       ...
       Installing dependencies from Pipfile…
-----> Discovering process types
       Procfile declares types -> (none)
